<%- include('partials/header') -%>

<style>
    input[type="text"] {
        border: 1px solid #000000;
        padding: 5px;
    }

    .hint-box {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }
    #loginBtn:disabled {
        background-color: #861717;
        color: #666666;
        cursor: not-allowed;
    }
</style>

<script src="https://www.google.com/recaptcha/enterprise.js?render=6LePiAwpAAAAAPE9DB8P6F0k442T2Kbtc7O6JJ63" async defer></script>

<h1 class="text-4xl">Broken Authentication</h1>
<br>

<div class="hint-box">
    <p>Pressing the "Enable vulnerability" checkbox disables the following security measures:</p>
    <p>1) Limiting login attempts</p>
</div>
<br>

<form onsubmit="return login()">
    <input type="checkbox" name="unsafe" id="unsafeCheckbox"> Enable vulnerability
    <br>
    Username: <input type="text" name="username" id="username"> <br>
    Password: <input type="text" name="password" id="password"> <br>
    <div class="g-recaptcha" data-sitekey="6LePiAwpAAAAAPE9DB8P6F0k442T2Kbtc7O6JJ63"></div>
    <br>
    <input type="submit" value="LOGIN" id="loginBtn">
</form>

<script>
    var loginAttempts = localStorage.getItem('loginAttempts');
    if (loginAttempts === null) {
        loginAttempts = 0;
        localStorage.setItem('loginAttempts', loginAttempts);
    }

    function login() {
        var unsafeCheckbox = document.getElementById("unsafeCheckbox");
        if (unsafeCheckbox.checked) {
            login_unsafe();
        } else {
            login_safe();
        }
        return false; 
    }

    function login_unsafe() {
        var currentAttempts = localStorage.getItem('loginAttempts');
        localStorage.setItem('loginAttempts', ++currentAttempts);

        var loginSuccess = tryLogin();

        console.log("login unsafe");
    }

    function login_safe() {
        var currentAttempts = localStorage.getItem('loginAttempts');
        localStorage.setItem('loginAttempts', ++currentAttempts);

        var recaptchaResponse = grecaptcha.getResponse(); 
        if (!recaptchaResponse) {
            alert("Please complete the reCAPTCHA.");
            return false;
        }

        var loginSuccess = tryLogin();

        console.log(loginSuccess, currentAttempts)

        var loginBtn = document.getElementById("loginBtn");
        if (!loginSuccess && currentAttempts >= 5) {
            alert("Too many failed login attempts. Please wait 30 seconds before trying again.");

            loginBtn.disabled = true;

            setTimeout(function () {
                var currentAttempts = 0;
                localStorage.setItem('loginAttempts', ++currentAttempts);
            }, 30000);
        }

        console.log("login safe");
    }

    function tryLogin() {
        console.log("trying to log in");
        return false;
    }
</script>

<%- include('partials/footer') -%>
