<%- include('partials/header') -%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
    input[type="text"] {
      border: 1px solid #000000; 
      padding: 5px; 

    }
  </style>


<div id="root">
    <p>Welcome to the security tester!</p>
    <p><a href="/sql_injection" class="underline">SQL Injection</a></p>
</div>
<%- include('partials/footer') -%>