<%- include('partials/header') -%>

<style>
    input[type="text"] {
      border: 1px solid #000000; 
      padding: 5px; 

    }
    .hint-box {
        display: none; 
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        cursor: pointer;
    }
</style>

<h1 class="text-4xl">SQL INJECTION</h1>
<br>

<div class="hint-box" onclick="viewHintBox()">
    <p>This form allows you to perform a search. You can enter a search query in the text field. If you check the "Use Unsafe Search" option, the search will be performed without additional validation, which may be vulnerable to SQL injection. Please use it responsibly and avoid entering malicious input.</p>
</div>

<br>

<form action="search" method="post" onsubmit="return search()">
    <input type="text" name="query" id="query">
    <input type="checkbox" name="unsafe" id="unsafeCheckbox"> Use Unsafe Search
    <br>
    <input type="submit" value="SEARCH">
</form>

<div id="results"></div>

<script>

    function search() {
        var unsafeCheckbox = document.getElementById("unsafeCheckbox");
        if (unsafeCheckbox.checked) {
            search_unsafe();
        } else {
            search_safe();
        }
    }

    function search_unsafe() {
        var query = document.getElementById("query").value;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "search.php", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("query=" + query);

        xhr.onload = function() {
            document.getElementById("results").innerHTML = xhr.responseText;
        };
    }
    function search_safe() {
        var query = document.getElementById("query").value;

        if (!query.match(/^[a-zA-Z0-9_-]+$/)) {
            alert("Unijeli ste neispravan unos.");
            return;
        }

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "search.php", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("query=" + encodeURIComponent(query));
        xhr.onload = function() {
            document.getElementById("results").innerHTML = xhr.responseText;
        };
    }

    function viewHintBox() {
        var box = document.querySelector('.hint-box');
        box.style.display = (box.style.display === 'none') ? 'block' : 'none';
    }
</script>

<%- include('partials/footer') -%>