<%- include('partials/header') -%>

<style>
    input[type="text"] {
      border: 1px solid #000000; 
      padding: 5px; 

    }
  </style>

<form action="search.php" method="post">
    <input type="text" name="query" id="query">
    <input type="submit" value="Pretraži">
</form>

<div id="results"></div>

<script>

    function search_unsafe() {
        var query = document.getElementById("query").value;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "search.php", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("query=" + query);

        xhr.onload = function() {
            document.getElementById("results").innerHTML = xhr.responseText;
        };
    }
    function search_safe() {
        var query = document.getElementById("query").value;

        if (!query.match(/^[a-zA-Z0-9_-]+$/)) {
            alert("Unijeli ste neispravan unos.");
            return;
        }

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "search.php", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("query=" + encodeURIComponent(query));
        xhr.onload = function() {
            document.getElementById("results").innerHTML = xhr.responseText;
        };
    }
</script>

<%- include('partials/footer') -%>