<%- include('partials/header') -%>

<style>
    input[type="text"] {
      border: 1px solid #000000; 
      padding: 5px; 

    }
    .hint-box {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
    }
</style>

<h1 class="text-4xl">SQL INJECTION</h1>
<br>

<div class="hint-box">
    <p>Pressing use unsafe search allows.....</p>
</div>

<br>

<form action="search" method="post" onsubmit="return search()">
    <input type="text" name="query" id="query">
    <input type="checkbox" name="unsafe" id="unsafeCheckbox"> Use Unsafe Search
    <br>
    <input type="submit" value="SEARCH">
</form>

<div id="results"></div>

<script>

    function search() {
        var unsafeCheckbox = document.getElementById("unsafeCheckbox");
        if (unsafeCheckbox.checked) {
            search_unsafe();
        } else {
            search_safe();
        }
    }

    function search_unsafe() {
        var query = document.getElementById("query").value;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "search.php", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("query=" + query);

        xhr.onload = function() {
            document.getElementById("results").innerHTML = xhr.responseText;
        };
    }
    function search_safe() {
        var query = document.getElementById("query").value;

        if (!query.match(/^[a-zA-Z0-9_-]+$/)) {
            alert("Unijeli ste neispravan unos.");
            return;
        }

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "search.php", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("query=" + encodeURIComponent(query));
        xhr.onload = function() {
            document.getElementById("results").innerHTML = xhr.responseText;
        };
    }
</script>

<%- include('partials/footer') -%>